<div class="row">
  <div class="col sm-12">
    <app-card cardTitle="Ficha de Registro do Colaborador">
      <form [formGroup]="formColaborador">
        <wizard>
          <wizard-step stepTitle="Empresa" class="mt-3">
            <h5>Empresa</h5>
            <hr>
            <div class="row">
              <div class="col-md-8">
                <div class="form-group">
                  <label for="empresa">Selecione sua Empresa *</label>
                  <ng-select #empresa [items]="empresas" [selectOnTab]="true" bindValue="id" bindLabel="ds_empresa" formControlName="cdEmpresa"
                    placeholder="Selecione">
                  </ng-select>
                </div>
              </div><!-- /col-md-4 -->
            </div> <!-- /row -->
            <div class="row">
              <div class="col-md-12 d-flex justify-content-center" style="margin-top: 100px;">
                <button type="button" class="btn btn-primary" nextStep  [disabled]="controlCdEmpresaValid.invalid">Próximo</button>
              </div>
            </div>
          </wizard-step>
          <wizard-step stepTitle="Dados Pessoais" class="mt-3">
            <app-dados-pessoais [form]="formDadosPessoais"></app-dados-pessoais>
            <hr>
            <div class="col-md-12 d-flex justify-content-center">
              <div class="btn-group">
                <button type="button" class="btn btn-secondary" previousStep>Voltar</button>
                <button type="button" class="btn btn-primary" [disabled]="formDadosPessoais.invalid" nextStep>Próximo</button>
              </div>
            </div>
          </wizard-step>
          <wizard-step stepTitle="Endereço" class="mt-3">
            <app-endereco [form]="formAdress"></app-endereco>
            <hr>
            <div class="col-md-12 d-flex justify-content-center">
              <div class="btn-group">
                <button type="button" class="btn btn-secondary" previousStep>Voltar</button>
                <button type="button" class="btn btn-primary"  nextStep [disabled]="formAdress.invalid">Próximo</button>
              </div>
            </div>
          </wizard-step>
          <wizard-step stepTitle="Dependentes" class="mt-3">
            <app-dependentes [form]="formDependentes"></app-dependentes>
            <hr>
            <div class="col-md-12 d-flex justify-content-center">
              <div class="btn-group">
                <button type="button" class="btn btn-secondary" previousStep>Voltar</button>
                <button type="button" class="btn btn-primary"  nextStep>Próximo</button>
              </div>
            </div>
          </wizard-step>
          <wizard-step stepTitle="Documentos Pessoais" class="mt-3">
            <app-documentos-pessoais [form]="formDocumentosPessoais" [visibleCpf]="visualizarCpf"></app-documentos-pessoais>
            <hr>
            <div class="col-md-12 d-flex justify-content-center mt-3">
              <div class="btn-group">
                <button type="button" class="btn btn-secondary" previousStep>Voltar</button>
                <button type="button" class="btn btn-primary"  (click)="uploadAnexoEscolaridade()" [disabled]="formDocumentosPessoais.invalid">Enviar Formulário</button>
              </div>
            </div>
          </wizard-step>
        </wizard>
      </form>
    </app-card>
  </div>
</div>
