<h5>Dados Pessoais</h5>
<hr>
<form [formGroup]="form">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="nome">Nome Completo *</label>
        <input type="text" class="form-control" id="nome" formControlName="nmColaborador" placeholder="Ex: João">
      </div>
    </div><!-- /col-md-6 -->
    <div class="col-md-5">
      <div class="form-group">
        <label for="naturalidade">Naturalidade *</label>
        <input type="text" class="form-control" id="naturalidade" formControlName="naturalidade"
          placeholder="Ex: Brasileiro(a)">
      </div>
    </div><!-- /col-md-5 -->

    <div class="col-md-2">
      <label for="estrangeiro" class="d-block">Estrangeiro *</label>
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="radio1" formControlName="naturalidadeEstrangeiro" class="custom-control-input"
          [value]="valorTrue">
        <label class="custom-control-label d-flex align-items-center" for="radio1">Sim</label>
      </div>
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="radio2" formControlName="naturalidadeEstrangeiro" class="custom-control-input"
          [value]="valorFalse">
        <label class="custom-control-label d-flex align-items-center" for="radio2">Não</label>
      </div>
    </div><!-- /col-md-3 -->
    <div class="col-md-3">
      <label for="estrangeiro" class="d-block">Sexo *</label>
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="sexom" formControlName="sexo" class="custom-control-input" value="1">
        <label class="custom-control-label d-flex align-items-center" for="sexom">Masculino</label>
      </div>
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="sexof" formControlName="sexo" class="custom-control-input" value="2">
        <label class="custom-control-label d-flex align-items-center" for="sexof">Feminino</label>
      </div>
    </div><!-- /col-md-3 -->
    <div class="col-md-4">
      <div class="form-group">
        <label for="dtnascimento">Data Nascimento *</label>
        <!-- <input type="text" class="form-control" id="dtnascimento" ngbDatepicker #d="ngbDatepicker" (click)="d.toggle()"
          [placement]="placement" formControlName="dataNascimento" placeholder="DD/MM/YYYY"> -->
          <input type="text" class="form-control" id="dtnascimento" bsDatepicker [bsConfig]="bsConfig"
          formControlName="dataNascimento" placeholder="DD/MM/YYYY">
      </div>
    </div><!-- /col-md-4 -->
    <div class="col-md-4">
      <div class="form-group">
        <label for="naturalidade" class="d-block">Estado Civil *</label>
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" id="solteiro" formControlName="estadoCivil" class="custom-control-input" value="1">
          <label class="custom-control-label d-flex align-items-center" for="solteiro">Solteiro</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" id="casado" formControlName="estadoCivil" class="custom-control-input" value="2">
          <label class="custom-control-label d-flex align-items-center" for="casado">Casado</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" id="divorciado" formControlName="estadoCivil" class="custom-control-input"
            value="3">
          <label class="custom-control-label d-flex align-items-center" for="divorciado">Divorciado</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" id="viuvo" formControlName="estadoCivil" class="custom-control-input" value="4">
          <label class="custom-control-label d-flex align-items-center" for="viuvo">Viúvo</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" id="separado" formControlName="estadoCivil" class="custom-control-input" value="5">
          <label class="custom-control-label d-flex align-items-center" for="separado">Separado</label>
        </div>
      </div>
    </div><!-- /col-md-4 -->
    <div class="col-md-4">
      <div class="form-group">
        <label for="tel">Telefone</label>
        <input type="tel" id="tel" formControlName="telefone" class="form-control" placeholder="Ex: 61 98899-8223">
      </div>
    </div>
    <div class="col-md-4" *ngIf="form.get('estadoCivil').value === '2'">
      <div class="form-group">
        <label for="nmConjuge">Nome do Cônjuge *</label>
        <input type="text" class="form-control" id="nmConjuge" formControlName="nmConjuge" placeholder="">
      </div>
    </div><!-- /col-md-4 -->
    <div class="col-md-4">
      <div class="form-group">
        <label for="nmPai">Nome do Pai *</label>
        <input type="text" class="form-control" id="nmPai" formControlName="nmPai"
          placeholder="Ex: Adolfo Pereira Santos">
      </div>
    </div><!-- /col-md-4 -->
    <div class="col-md-4">
      <div class="form-group">
        <label for="nmMae">Nome da Mãe *</label>
        <input type="text" class="form-control" id="nmMae" formControlName="nmMae" placeholder="Ex: Maria Eduarda">
      </div>
    </div><!-- /col-md-4 -->
    <div class="col-md-4">
      <div class="form-group">
        <label for="email">Email *</label>
        <input type="email" class="form-control" id="email" formControlName="email" placeholder="Ex: exemplo@gmail.com">
      </div>
    </div><!-- /col-md-4 -->
    <div class="col-md-4">
      <div class="form-group">
        <label for="escolaridade">Escolaridade *</label>
        <input type="text" class="form-control" id="email" formControlName="escolaridade" placeholder="Ex: Ensino Médio">
      </div>
    </div><!-- /col-md-4 -->
    <div class="col-md-4">
      <label for="estrangeiro" class="d-block">Residência própria *</label>
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="resips" formControlName="residenciaPropria" class="custom-control-input" [value]="valorTrue">
        <label class="custom-control-label d-flex align-items-center" for="resips">Sim</label>
      </div>
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="resipn" formControlName="residenciaPropria" class="custom-control-input" [value]="valorFalse">
        <label class="custom-control-label d-flex align-items-center" for="resipn">Não</label>
      </div>
    </div>
    <div class="col-md-4">
      <label for="estrangeiro" class="d-block">Comprada com recurso do FGTS *</label>
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="recursofgtss" formControlName="recursoFgts" class="custom-control-input" [value]="valorTrue">
        <label class="custom-control-label d-flex align-items-center" for="recursofgtss">Sim</label>
      </div>
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="recursofgtsn" formControlName="recursoFgts" class="custom-control-input" [value]="valorFalse">
        <label class="custom-control-label d-flex align-items-center" for="recursofgtsn">Não</label>
      </div>
    </div>
    <div class="col-md-6">
      <label for="">Anexo de Escolaridade *</label>
      <!-- <input type="file"formControlName="anexo_escolaridade"> -->
      <!-- <div class="custom-file">
        <input type="file" class="custom-file-input" id="validatedCustomFile" (change)="onChange($event)">
        <label class="custom-file-label" for="validatedCustomFile">Choose file...</label>
        <div class="invalid-feedback">Example invalid custom file feedback</div>
      </div> -->
      <file-upload simple formControlName="file_escolaridade">
        <ng-template let-file #placeholder>
          <ng-container *ngIf="file; else emptyList">
            {{ file.name }}
          </ng-container>
          <ng-template #emptyList>
            Selecione o arquivo...
          </ng-template>
        </ng-template>
      </file-upload>
    </div>
  </div>
</form>
