<div class="row">
  <div class="col-sm-12">
    <app-card cardTitle="Usuários Cadastrados">
      <div class="table-responsive">
        <h4 class="text-center mb-3 mt-3">Usuários</h4>
        <table class="table table-hover">
          <thead>
            <tr class="text-center">
              <th scope="col">Nome</th>
              <th scope="col">E-mail</th>
              <th scope="col">Perfil</th>
              <th scope="col">Status</th>
              <th scope="col">Ações</th>
            </tr>
          </thead>
          <tbody>
              <tr  class="text-center" *ngFor="let item of usuarios | paginate: {
                itemsPerPage: filtro.size,
                currentPage: currentPage,
                totalItems: totalElements } ">
              <td>{{ item?.name }}</td>
              <td>{{ item?.email }}</td>
              <td>{{ nomePerfil(item?.perfil_id) }}</td>
              <td class="badge badge-success p-2 mt-2" [ngClass]="{'badge-danger': item?.status === 0}">{{ item?.status === 0 ? 'Inativo' : 'Ativo' }}</td>
              <td>
                <app-edit-user [id]="item.id" (updateMsg)="getUsuarios()"></app-edit-user>
                <button type="button" class="btn btn-outline-primary btn-sm ml-2" (click)="sweetConfirm(item.id)" *ngIf="item?.status === 0">
                  <i class="feather icon-x"></i>
                  Ativar
                </button>
                <button type="button" class="btn btn-outline-danger btn-sm ml-2" (click)="sweetConfirm(item.id)" *ngIf="item?.status === 1">
                  <i class="feather icon-x"></i>
                  Inativar
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="row">
          <div class="col-md-12 d-flex justify-content-center">
            <pagination-controls
              class="justify-content-center pagination-sm"
              (pageChange)="pageChanged($event)"
              maxSize="8"
              directionLinks="true"
              autoHide="true"
              responsive="true"
              previousLabel=""
              nextLabel=""></pagination-controls>
          </div>
        </div>
      </div>
    </app-card>
  </div>
</div>

<ng-template #editUser>
  <div class="modal-header">
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
    <app-edit-user [dados]="edituser"></app-edit-user>
</ng-template>

