<div class="row">
  <div class="col-sm-12">
    <app-card cardTitle="Alteração de Senha">
      <form [formGroup]="formPassword">
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label for="oldpass">Senha Atual</label>
              <input type="password" formControlName="oldPassword" class="form-control" id="oldpass"
                [ngClass]="{'is-invalid': !formPassword.get('oldPassword').valid && formPassword.get('oldPassword').touched}">
              <small class="invalid-input"
                *ngIf="!formPassword.get('oldPassword').valid && formPassword.get('oldPassword').touched">*Campo
                obrigatório</small>
            </div>
          </div>
        </div><!-- /row-->
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label for="senha">Nova Senha</label>
              <input type="password" formControlName="newPassword" id="newPassword" class="form-control"
                [ngClass]="{'is-invalid': !formPassword.get('newPassword').valid && formPassword.get('newPassword').touched}">
              <small class="invalid-input"
                *ngIf="!formPassword.get('newPassword').valid && formPassword.get('newPassword').touched">*Campo
                obrigatório</small>
            </div>
          </div><!-- /col-md-4 -->
        </div><!-- /row-->
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label for="confirmPassword">Confirme a nova senha</label>
              <input type="password" formControlName="confirmPassword" id="confirmPassword" class="form-control"
                [ngClass]="{'is-invalid': formPassword.get('confirmPassword').errors?.equalTo && formPassword.get('confirmPassword').touched}">
              <small class="invalid-input"
                *ngIf="formPassword.get('confirmPassword').errors?.equalTo && formPassword.get('confirmPassword').touched">Confirmação
                de Senha inválida.</small>
            </div>
          </div><!-- /col-md-4 -->
        </div><!-- /row-->
        <div class="row">
          <div class="col-4">
            <button class="btn btn-primary" type="button" (click)="submitNewPassword()" >Enviar</button>
          </div>
        </div>
      </form>
    </app-card>
  </div>
</div>
