
<div class="row">
  <div class="col-sm-12">
    <app-card cardTitle="Ficha de Registro de Empresas">
      <h5>Dados da Empresa</h5>
      <hr>
      <form [formGroup]="formEmpresa">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="dsempresa">Nome</label>
              <input type="text" class="form-control" formControlName="ds_empresa" id="dsempresa" placeholder="Ex: Nice Contabilidade"
              [ngClass]="{'is-invalid': !formEmpresa.get('ds_empresa').valid && formEmpresa.get('ds_empresa').touched}">
              <small class="invalid-input" *ngIf="!formEmpresa.get('ds_empresa').valid && formEmpresa.get('ds_empresa').touched">*Campo obrigatório</small>
            </div>
          </div><!-- col-md-12-->
          <div class="col-md-4">
            <div class="form-group">
              <label for="dsempresa">Razão Social</label>
              <input type="text" class="form-control" formControlName="razao_social" id="dsempresa" placeholder="Ex: Exemplo Indústrias"
              [ngClass]="{'is-invalid': !formEmpresa.get('razao_social').valid && formEmpresa.get('razao_social').touched}">
              <small class="invalid-input" *ngIf="!formEmpresa.get('razao_social').valid && formEmpresa.get('razao_social').touched">*Campo obrigatório</small>
            </div>
          </div><!-- col-md-4-->
          <div class="col-md-4">
            <div class="form-group">
              <label for="dsempresa">Nome Fantasia</label>
              <input type="text" class="form-control" formControlName="nome_fantasia" id="dsempresa" placeholder="Ex: Empresa"
              [ngClass]="{'is-invalid': !formEmpresa.get('nome_fantasia').valid && formEmpresa.get('nome_fantasia').touched}">
              <small class="invalid-input" *ngIf="!formEmpresa.get('nome_fantasia').valid && formEmpresa.get('nome_fantasia').touched">*Campo obrigatório</small>
            </div>
          </div><!-- col-md-4-->
          <div class="col-md-4">
            <div class="form-group">
              <label for="dsempresa">CNPJ</label>
              <input type="text" class="form-control" formControlName="cnpj" id="dsempresa" placeholder="Ex: 53991719000106" cnpj [textMask]="{mask: MASKS.cnpj.textMask}"
              [ngClass]="{'is-invalid': !formEmpresa.get('cnpj').valid && formEmpresa.get('cnpj').touched}">
              <small class="invalid-input" *ngIf="!formEmpresa.get('cnpj').valid && formEmpresa.get('cnpj').touched">*CNPJ inválido</small>
            </div>
          </div><!-- col-md-4-->
        </div><!-- /row -->
        <app-endereco [form]="formAdress"></app-endereco>
        <hr>
        <div class="row">
          <div class="col-md-12 d-flex justify-content-end">
            <button type="button" class="btn btn-secondary mr-2" (click)="clearForm()">Limpar</button>
            <button type="button" class="btn btn-primary" (click)="submitFormulario()" [disabled]="formsValid() === false">Enviar</button>
          </div>
        </div>
      </form>
    </app-card>
  </div>
</div>
