<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col">E-mail</th>
      <th scope="col">Telefone</th>
      <th scope="col">Sexo</th>
      <th scope="col">Perfil</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let usuario of datas; index as i">
      <th scope="row">{{ i+1 }}</th>
      <td>{{ usuario?.name }}</td>
      <td>{{ usuario?.email }}</td>
      <td>{{ usuario?.telefone }}</td>
      <td>{{ usuario?.sexo === 1 ? 'Feminino' : 'Masculino'  }}</td>
      <td>{{ verificaPerfil(usuario?.perfil_id) }}</td>
    </tr>
  </tbody>
</table>
