<div class="row">
  <!-- order-card start -->
  <div class="col-md-6 col-xl-3">
    <app-card [hidHeader]="true" cardClass="bg-c-blue order-card" >
      <h6 class="text-white">Empresa Cadastradas</h6>
      <h2 class="text-right text-white"><i class="feather icon-layers float-left"></i><span>{{ datasGeral?.empresas }}</span></h2>
      <p class="m-b-0">Total Geral<span class="float-right">{{ datasGeral?.empresas }}</span></p>
    </app-card>
  </div>
  <div class="col-md-6 col-xl-3">
    <app-card [hidHeader]="true" cardClass="bg-c-green order-card">
      <h6 class="text-white">Usuários Cadastrados</h6>
      <h2 class="text-right text-white"><i class="feather icon-users float-left"></i><span>{{ datasGeral?.usuarios }}</span></h2>
      <p class="m-b-0">Total Geral<span class="float-right">{{ datasGeral?.usuarios }}</span></p>
    </app-card>
  </div>
  <div class="col-md-6 col-xl-3">
    <app-card [hidHeader]="true" cardClass="bg-c-yellow order-card">
      <h6 class="text-white">Colbaoradores Cadastrados</h6>
      <h2 class="text-right text-white"><i class="feather icon-users float-left"></i><span>{{ datasGeral?.colaboradores }}</span></h2>
      <p class="m-b-0">Total Geral<span class="float-right">{{ datasGeral?.colaboradores }}</span></p>
    </app-card>
  </div>
  <div class="col-md-6 col-xl-3" [tooltip]="datas?.empresa_com_mais_colaboradores?.nome">
    <app-card [hidHeader]="true" cardClass="bg-c-red order-card">
      <h6 class="text-white">Empresa com mais colaboradores</h6>
      <h2 class="text-right text-white"><i class="feather icon-award float-left"></i><span>{{ datas?.empresa_com_mais_colaboradores?.quantidade }}</span></h2>
      <p class="m-b-0">Total Geral<span class="float-right">{{ datas?.empresa_com_mais_colaboradores?.quantidade }}</span></p>
    </app-card>
  </div>
  <!-- order-card end -->

  <!-- customer overview start -->
  <div class="col-md-12">
    <app-card cardTitle="Registros de Cadastros" cardClass="table-card" blockClass="p-0">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <tabset type="pills" [justified]="true">
              <tab heading="Empresas">
              <app-ultimas-empresas [datas]="ultimosDatas?.ultimasEmpresas"></app-ultimas-empresas>
              </tab>
              <tab heading="Colaboradores" [active]="true">
                <app-ultimos-colaboradores [datas]="ultimosDatas?.ultimosColaboradores" ></app-ultimos-colaboradores>
              </tab>
              <tab heading="Usuários">
                <app-ultimos-usuarios [datas]="ultimosDatas?.ultimosUsuarios"></app-ultimos-usuarios>
              </tab>
            </tabset>
          </div>
        </div>
      </div>
    </app-card>
  </div>
  <!-- customer overview start -->
</div>
