<h5>Endereço</h5>
<hr>
<form [formGroup]="formAdress">
  <div class="row" formGroupName="endereco">
    <div class="col-md-3">
      <div class="form-group">
        <label for="cep">CEP *</label>
        <input type="text" class="form-control" id="cep" formControlName="cep" placeholder="71272-140">
      </div>
    </div><!-- /col-md-6 -->
    <div class="col-md-2">
      <div class="form-group">
        <label for="numero">Número *</label>
        <input type="text" class="form-control" id="numero" formControlName="numero" placeholder="203">
      </div>
    </div><!-- /col-md-6 -->
    <div class="col-md-6">
      <div class="form-group">
        <label for="complemento">Complemento *</label>
        <input type="text" class="form-control" id="complemento" formControlName="complemento" placeholder="Ex: Ao lado do Supermercado">
      </div>
    </div><!-- /col-md-6 -->
    <div class="col-md-4">
      <div class="form-group">
        <label for="rua">Rua *</label>
        <input type="text" class="form-control" id="rua" formControlName="rua" placeholder="Ex: Rua J Conjunto A">
      </div>
    </div><!-- /col-md-6 -->
    <div class="col-md-3">
      <div class="form-group">
        <label for="bairro">Bairro *</label>
        <input type="text" class="form-control" id="bairro" formControlName="bairro" placeholder="Ex: São Francisco">
      </div>
    </div><!-- /col-md-6 -->
    <div class="col-md-3">
      <div class="form-group">
        <label for="cidade">Cidade *</label>
        <input type="text" class="form-control" id="cidade" formControlName="cidade" placeholder="Ex: Brasília">
      </div>
    </div><!-- /col-md-6 -->
    <div class="col-md-2">
      <div class="form-group">
        <label for="estado">Estado</label>
        <input type="text" class="form-control" id="estado" formControlName="estado" placeholder="Ex: DF">
      </div>
    </div><!-- /col-md-6 -->
  </div><!-- /row -->
</form>
