
<h5>Dependentes</h5>
<hr>
<form [formGroup]="form">
  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <label for="nomedependente">Nome Completo *</label>
        <!-- <input type="text" class="form-control" id="nomedependente" formControlName="nm_dependentes" placeholder="Ex: Jõao Rodrigues da Silva"> -->
        <input type="text" class="form-control" id="nomedependente" formControlName="nm_dependente" placeholder="Ex: Jõao Rodrigues da Silva">
      </div>
    </div><!-- /col-md-3 -->
    <div class="col-md-3">
      <div class="form-group">
        <label for="parentesco">Parentesco *</label>
        <input type="text" id="parentesco" class="form-control" formControlName="parentesco" placeholder="">
      </div>
    </div><!-- /col-md-3 -->
    <div class="col-md-3">
      <div class="form-group">
        <label for="dtnascimento">Data Nascimento *</label>
        <input type="text" class="form-control" id="dtnascimento" bsDatepicker [bsConfig]="bsConfig" formControlName="data_nascimento" placeholder="DD/MM/YYYY">
      </div>
    </div><!-- /col-md-3 -->
    <div class="col-md-3">
      <div class="form-group">
        <label for="cpfdependente">CPF *</label>
        <!-- <input type="text" id="cpfdependente" class="form-control" formControlName="nuCpf" placeholder="Ex: 000.000.000-00"> -->
        <input type="text" id="cpfdependente" class="form-control" formControlName="nu_cpf" placeholder="Ex: 000.000.000-00">
      </div>
    </div><!-- /col-md-3 -->
  </div>
</form>
